* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1583px;
    height: 71px;
    
}
.container1 {
    width: 1216px;
    height: 71px;
    margin: 0 183.500px;
    display: flex;
    align-items: center;
}
svg.h-5-md-h-6 {
    width: 156.594px;
    height: 24px;
    display: flex;
    align-items: center;
    margin-right: 48px;
}
.main-search {
    width: 1011.410px;
    height: 48px;
}
.main-search-in-div-tag-1 {
    width: 1011.410px;
    height: 48px;
    display: grid;
    gap: 48px;
}
.main-2-resourses {
    gap: 48px;
    display: flex;
}
.main-2-resources-button {
    width: 101.688px;
    height: 24px;
    display: flex;
    background: transparent;
    border: none;
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-style: normal;
    margin-top: 12px;
    gap: 4px;
}
.fill-currenth-6w-6 {
    width: 24px;
    height: 24px;
}
.main-2-resources-button1 {
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-style: normal;
    gap: 4px;
}
.mian-searchbar-div {
    display: flex;
    padding-right: 16px;
    margin-right: 187.969px;
}
.mian-searchbar-div1 {
    display: flex;
}
.mian-searchbar-input {
    border: #b4b3ba 1px solid;
    width: 162px;
    height: 20px;
    border-radius: 50px;
    padding-left: 48px;
    padding-right: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 14px;
    font-family: "Nunito Sans", sans-serif;
    line-height: 20px;
    font-weight: 400;
    font-style: normal;
}
.mian-searchbar-input:focus {
    outline: #b4b3ba 1px solid;
}
.search-img {
    width: 32px;
    height: 32px;
    position: absolute;
    margin-top: 7px;
    margin-left: 9px;
}
.buttons-signup-div {
    display: flex;
}
.buttons-signup-main-button {
    width: 140.86px;
    height: 48px;
    padding: 11px 19px;
    border: #6557d2 1px solid;
    background-color: white;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    font-family: "Nunito Sans", sans-serif;
    line-height: 24px;
    color: #7d6ef0;
}
.buttons-signup-div {
    display: flex;
    gap: 16px;
}
.buttons-signup-main-button:hover {
    background-color: #f3f0ff;
    transition-duration: .3s;
    cursor: pointer;
}
.Sign-in {
    width: 99.88px;
    height: 48px;
    padding: 12px 20px;
    background: white;
    font-size: 16px;
    font-weight: 600;
    font-family: "Nunito Sans", sans-serif;
    line-height: 24px;
    border: none;
    color: #796ae9;
}
.Sign-in:hover {
    background-color: #f3f0ff;
    border-radius: 50px;
    cursor: pointer;
}
.main-2-resources-button:hover {
    color: #6557d2;
    cursor: pointer;
    transition: 0.3s;
}
.main-2-resources-button1:hover {
    color: #6557d2;
    cursor: pointer;
    transition: 0.3s;
}
#wrapper {
    position: relative;
    border-bottom: 1px solid #e6e6eb;
    position: sticky; /* Makes the header sticky */
    top: 0;         /* Sticks it to the top */
    left: 0;
    width: 100%;    /* Ensures the header takes up full width */
    z-index: 1000;
    background-color: #fff;
    
}
.body-things {
    width: 1583px;
    height: 564.484px;
    padding-top: 80px;
    padding-bottom: 80px;
}
.body-things1 {
    width: 1216px;
    height: 564.484px;
    margin: 0 183.500px;
}
.body-things2 {
    width: 1216px;
    height: 443.484px;
    display: flex;
    flex-direction: row;
    column-gap: 16px;
}
.body-things2 {
    width: 680px;
    height: 443.484px;
}
.body-things-span-tag {
    color: #6e6d73;
    font-size: 28px;
    line-height: 32px;
    font-weight: 600;
    font-style: normal;
    font-family: "Nunito Sans", sans-serif;
    letter-spacing: -.56px;
}
.body-things-H1-tag {
    font-family: "Nunito Sans", sans-serif;
    font-size: 60px;
    letter-spacing: -.2px;
    line-height: 72px;
    font-weight: 800;
    font-style: normal;
    width: 680px;
    height: 144px;
    margin-bottom: 16px;
}
.body-things-P-tag {
    font-family: "Nunito Sans", sans-serif;
    line-height: 32px;
    font-size: 20px;
    color: #6e6d73;
    margin-bottom: 24px;
    font-weight: 400;
    font-style: normal;
}
.body-things4 {
    width: 680px;
    height: 48px;
    gap: 16px;
    margin-bottom: 64px;
    margin-top: 36px;
}
.body-things5 {
    width: 155.578px;
    height: 48px;
    display: block;
}
.body-things-A-tag {
    transition-duration: .3s;
    background-color: #6557d2;
    color: #fff;
    text-decoration: none;
    font-family: "Nunito Sans", sans-serif;
    padding: 12px 20px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    font-style: normal;
    width: 115.578px;
    height: 24px;
}
.body-things-A-tag:hover {
    background: #8172f7;
    transition: .3s;
}
.body-things6 {
    margin-left: 172px;
    margin-top: -37px;

}
.body-things-A-tag1 {
    font-family: "Nunito Sans", sans-serif;
    width: 126.266px;
    height: 24px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 11px;
    padding-bottom: 11px;
    transition-duration: .3s;
    color: #6557d2;
    border: 1px solid #6557d2;
    border-radius: 50px;
    text-decoration: none;
    position: absolute;
    text-align: center;
    font-weight: 600;
}
.body-things-A-tag1:hover {
    background: #f3f0ff;
}
.body-things7 {
    flex: none;
    width: 520px;
    margin-top: 0;
}
.body-things-IMG-tag {
    width: 520px;
    height: 443.484px;
}
.container3rd-main1 {
    width: 1216px;
    height: 64px;
    margin-top: -11px;
}
.container3rd-main1-P_TAG {
    font-family: "Nunito Sans", sans-serif;
    line-height: 32px;
    font-size: 28px;
    letter-spacing: -.56px;
    font-weight: 600;
    margin-bottom: 4px;
}
.container3rd-main1-P_TAG1 {
    line-height: 28px;
    font-size: 18px;
    color: #6e6d73;
    margin-bottom: 20px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
}
.conatiner4th-main2 {
    flex-wrap: wrap;
    display: flex;
    gap: 16px;
    width: 1216px;
    height: 48px;
    /* flex-direction: row; */
}
.conatiner4th-main2-hidden {
    font-size: 16px;
    font-family: "Nunito Sans", sans-serif;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 19px;
    padding-right: 19px;
    border: 1px solid #6557d2;
    border-radius: .5rem;
    margin-top: 20px;
}
.conatiner4th-main2-hiddena-tag {
    text-decoration: none;
    font-weight: 600;
    color: #6557d2;
}
.conatiner4th-main2-hidden:hover {
    background-color: #f3f0ff;
    cursor: pointer;
}
.center-wrapper-main1 {
    background: #f3f2f7;
    width: 1583px;
    height: 687px;
}
.center-wrapper-main2 {
    padding-top: 80px;
    padding-bottom: 80px;
}
.center-wrapper-main3 {
    width: 1216px;
    margin: 0 183.500px;
    height: 527px;
}
.center-wrapper-main4 {
    display: grid;
    column-gap: 64px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    row-gap: 48px;
    height: 391px;
}
.center-wrapper-main5 {
    margin-bottom: 64px;
    display: flex;
    justify-content: center;
    width: 1216px;
    height: 72px;
}
.center-wrapper-main5-p__TAG {
    letter-spacing: -.2px;
    line-height: 72px;
    font-weight: 800;
    font-size: 60px;
    font-family: "Nunito Sans", sans-serif;
    width: 411.438px;
    height: 72px;
}
.center-wrapper-main6 {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 256px;
    height: 391px;
}
.center-wrapper-main7 {
    width: 256px;
    height: 364px;
}
.center-wrapper-main7-p__TAG {
    line-height: 32px;
    font-size: 20px;
    padding-top: 24px;
    font-weight: 600;
    padding-bottom: 16px;
    margin: 0;
    font-family: "Nunito Sans", sans-serif;
}
.center-wrapper-main7-p__TAG1 {
    font-family: "Nunito Sans", sans-serif;
    line-height: 32px;
    font-size: 20px;
    padding-bottom: 24px;
    color: #6e6d73;
}
.center-wrapper-main6-a_TAG {
    transition-duration: .3s;
    color: #6557d2;
    font-weight: 600;
    font-size: 18px;
    gap: 8px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-grow: 0;
    display: inline-flex;
    text-decoration: none;
    font-family: "Nunito Sans", sans-serif;
    
}
.center-wrapper-main6-span_TAG {
    position: absolute;
    margin-left: 8px;
    color: #6557d2;
    cursor: pointer;
}
.center-main-wrapper-2-items {
    border-bottom: 2px solid #6557d2;
    width: 120px;
    padding-bottom: 4px;
    cursor: pointer;
}
.arrows-manu-div-main1 {
    background-color: #5145a8;
    width: 1583px;
    height: 476px;
}
.arrows-manu-div-main2 {
    padding-top: 80px;
    padding-bottom: 80px;
    width: 1583px;
    height: 316px;
}
.arrows-manu-div-main3 {
    margin: 0 183.500px;
    height: 316px;
}
.arrows-manu-div-main4 {
    gap: 48px;
    flex-direction: column;
    display: flex;
}
.arrows-manu-div-main4-main-ht-TAG {
    line-height: 44px;
    font-size: 36px;
    color: #fff;
    letter-spacing: -.72px;
    font-weight: 600;
    font-family: "Nunito Sans", sans-serif;
}
.arrows-manu-div-main5 {
    display: flex;
    align-items: center;
    position: relative;
    width: 1216px;
    height: 224px;
}
.arrows-manu-div-main6 {
    scrollbar-width: none;
    scroll-behavior: smooth;
    overflow-x: auto;
    grid-auto-flow: column;
    display: grid;
    grid-auto-columns: 33.33%;
    width: 1216px;
    height: 224px;
    margin-top: 100px;
}
.arrows-manu-div-main7 {
    scroll-snap-align: start;
    width: 381.281px;
    height: 224px;
}
.arrows-manu-div-main8 {
    border-radius: .5rem;
    background-color: #fafafc;
    width: 341.281px;
    height: 184px;
    padding: 20px;
    display: flex;
}
.arrows-manu-div-main8-figure-1 {
    width: 341.281px;
    height: 184px;
    gap: 16px;
    flex-direction: row;
    display: flex;
}
.arrows-manu-div-main8-img1 {
    width: 48px;
    height: 48px;
}
.useflex {
    gap: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
blockquote {
    display: grid;
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    color: #1c1c1f;
}
.flex-flex-col {
    flex-direction: column;
    display: flex;
    width: 277.281px;
    height: 48px;
}
.flex-flex-col1 {
    letter-spacing: 0;
    line-height: 24px;
    font-size: 16px;
    color: #388c83;
    margin: 0;
    font-size: 16px;
    font-family: "Nunito Sans", sans-serif;
}
.flex-flex-col2 {
    letter-spacing: 0;
    line-height: 24px;
    font-size: 16px;
    color: #6e6d73;
    margin: 0;
    font-size: 16px;
    font-family: "Nunito Sans", sans-serif;
}
.arrows-manu-div-main9 {
    border-radius: .5rem;
    background-color: #fafafc;
    width: 381.281px;
    height: 224px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.arrows-manu-div-main10 {
    border-radius: .5rem;
    background-color: #fafafc;
    width: 381.281px;
    height: 224px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-box-use {
    padding-top: 80px;
    padding-bottom: 80px;
    height: 372px;
    width: 1529px;
    margin-left: 54px;
}
.flex-box-use1 {
    width: 1216px;
    height: 372px;
    margin: 0 183.500px;
}
.flex-box-use2 {
    display: flex;
    column-gap: 120px;
    flex-direction: row;
    height: 372px;
    justify-content: center;
    align-items: center;
}
.left-flex-box-1 {
    flex: 1 1 0%;
}
.left-flex-box-1-h4-tag {
    letter-spacing: -.18px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 24px;
    color: #5145a8;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Nunito Sans", sans-serif;
    width: 548px;
    height: 28px;
}
.left-flex-box-1-h2-tag {
    letter-spacing: -.2px;
    line-height: 72px;
    font-weight: 800;
    font-size: 60px;
    margin-bottom: 24px;
    font-family: "Nunito Sans", sans-serif;
    width: 548px;
    height: 144px;
}
.left-flex-box-1-p-tag {
    margin-bottom: 62px;
    line-height: 28px;
    font-size:18px;
    color: #6e6d73;
    width: 548px;
    height: 56px;
    font-family: "Nunito Sans", sans-serif;
}
.left-flex-box-1-a-tag {
    transition-duration: .3s;
    background-color: #6557d2;
    color: #fff;
    font-weight: 600;
    padding: 12px 20px;
    border-radius: 50px;
    text-decoration: none;
    font-family: "Nunito Sans", sans-serif;
}
.right-main-flex-div {
    display: flex;
    align-items: center;
    width: 548px;
    height: 372px;
    align-items: center;
    justify-content: left;
}
video {
    width: 493.188px;
    height: 277.406px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.flex-box-use22 {
    display: flex;
    column-gap: 120px;
    flex-direction: row;
    height: 428px;
}
.flex-box-use11 {
    width: 1216px;
    height: 428px;
    margin: 0 183.500px;
}
.flex-box-use167 {
    padding-top: 80px;
    padding-bottom: 80px;
    height: 428px;
    width: 1583px;
}
.left-flex-box-1-p-tag1 {
    margin-bottom: 62px;
    line-height: 28px;
    font-size:18px;
    color: #6e6d73;
    width: 548px;
    height: 112px;
    font-family: "Nunito Sans", sans-serif;
}
.left-flex-box-1-p-tag2 {
    margin-bottom: 62px;
    line-height: 28px;
    font-size:18px;
    color: #6e6d73;
    width: 548px;
    height: 140px;
    font-family: "Nunito Sans", sans-serif;
}
.bottom-main-div1-div {
    width: 1583px;
    height: 364px;
    padding: 80px 0;
    background: #f3f2f7;
}
.bottom-main-div1-div1 {
    width: 1399px;
    height: 364px;
    margin: 0 183.500px;
}
.bottom-main-div1-div2 {
    display: grid;
    width: 1216px;
    height: 364px;
    grid-template-columns: repeat(2, minmax(0, 1fr))
}
.bottom-main-div1-div3 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.bottom-main-div1-div3-main-h2 {
    line-height: 72px;
    font-weight: 800;
    font-size: 60px;
    padding-bottom: 16px;
    font-family: "Nunito Sans", sans-serif;
}
.bottom-main-div1-div3-main-p {
    padding-bottom: 48px;
    line-height: 32px;
    font-size: 20px;
    color: #6e6d73;
    font-family: "Nunito Sans", sans-serif;
}
.flex-box-use8 {
    padding-top: 80px;
    padding-bottom: 80px;
    height: 485px;
    width: 1545px;
    margin-left: 38px;
}
.bottom-main-div1-div3-main-a {
    padding: 11px 19px;
    border: 1px solid #6557d2;
    text-decoration: none;
    font-family: "Nunito Sans", sans-serif;
    transition-duration: .3s;
    font-weight: 600;
    color: #6557d2;
    border-radius: 50px;
}
.bottom-main-div1-div3-main-a:hover {
    background: #f3f0ff;
}
.right-side-bottom-div2 {
    height: 364px;
    width: 608px;
    display: flex;
    justify-content: right;
    align-items: center;
}
.footer-upper-main-div {
    width: 1583.240px;
    height: 400px;
    background-color: #5145a8;
}
.footer-upper-main-div1 {
    width: 1583.240px;
    height: 240px;
    padding: 80px 0;
    display: flex;
    justify-content: center;
}
.footer-upper-main-div2 {
    width: 1216px;
    height: 240px;
    margin: 0 48px;
}
.footer-upper-main-div3 {
    width: 1216px;
    height: 144px;
    display: flex;
    justify-content: center;
}
.footer-upper-main-div4 {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.footer-upper-main-div4-main-h4-tag {
    font-weight: 800;
    font-size: 60px;
    color: #fff;
    font-family: "Nunito Sans", sans-serif;
    letter-spacing: -.2px;
    margin-bottom: 16px;
}
.footer-upper-main-div4-main-p-tag {
    line-height: 28px;
    font-size: 18px;
    color: #f3f2f7;
    max-width: 48rem;
    text-align: center;
    font-family: "Nunito Sans", sans-serif;
    margin-bottom: 48px;
}
.footer-upper-main-div4-main-a-tag {
    text-decoration: none;
    color: #6557d2;
    font-weight: 600;
    font-family: "Nunito Sans", sans-serif;
    padding: 13px 20px;
    background-color: #fff;
    border-radius: 9999px;
}
footer {
    width: 1583px;
    height: 447px;
    background: #fafafc;
}
.footer-div-1 {
    height: 447px;
    width: 1216px;
    margin: 0 183.500px;
}
.footer-div-2 {
    display: flex;
    padding: 32px 0;
    height: 56px;
    align-items: center;
}
.footer-div3 {
    width: 1216px;
    height: 279px;
    padding-bottom: 48px;
}
.footer-div4 {
    display: flex;
    justify-content: space-between;
}
.footer-div5 {
    width: 584.594px;
    height: 124px;
    line-height: 1.75rem;;
}
.footer-div3 {
    display: flex;
    flex-direction: column;
}
.footer-diva {
    font-size: 18px;
    color: #1c1c1f;
    font-weight: 400;
    text-decoration: none;
    font-family: "Nunito Sans", sans-serif;
    margin-bottom: 27px;
    width: 100px;
    margin-right: 96px;
}
.footer-div4 {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: 194px;
}
main4footer-div {
    display: flex;
    flex-direction: row;
}
.footer-diva1 {
    font-size: 18px;
    color: #1c1c1f;
    font-weight: 400;
    text-decoration: none;
    font-family: "Nunito Sans", sans-serif;
    margin-bottom: 27px;
    width: 150px;
    margin-right: 96px;
}
.footer-div5 {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: 426px;
}
.footer-diva2 {
    font-size: 18px;
    color: #1c1c1f;
    font-weight: 400;
    text-decoration: none;
    font-family: "Nunito Sans", sans-serif;
    margin-bottom: 27px;
    width: 162px;
    margin-right: 96px;
}
.footer-div6 {
    row-gap: 16px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    width: 368.516px;
    height: 124px;
    margin-left: 848px;
    position: absolute;
}
.footer-div6-p-tag {
    font-weight: 600;
    font-size: 20px;
    font-family: "Nunito Sans", sans-serif;
    width: 368.516px;
    height: 56px;
}
.footer-div-7 {
    display: flex;
    row-gap: 12px;
    column-gap: 12px;
}
.svag-main {
    width: 165.07px;
    height: 53.55px;
}
.main67 {
    width: 1216px;
    height: 124px;
    padding-bottom: 64px;
    border-bottom: 1px solid #d1d0d6;
}
.main-footer {
    width: 100%;
    background-color: #fafafc;
    container-type: inline-size;
}
.footer-div-main {
    width: 1216px;
    height: 447px;
    margin: 0 183.500px;
}
.footer-main-div-logo {
    width: 1216px;
    height: 56px;
    padding: 32px 0;
    display: flex;
}
.footer-main-div-a-tag {
    width: 156.594px;
    height: 24px;
    padding: 16px 0;
}
.fotter-main-div-1 {
    width: 1216px;
    height: 279px;
    display: flex;
    padding-bottom: 48px;
    flex-direction: column;
}
.fotter-main-div-2 {
    width: 1216px;
    display: flex;
    height: 124px;
    padding-bottom: 64px;
    justify-content: space-between;
}
.fotter-main-div-3 {
    width: 584.594px;
    height: 124px;
    display: flex;
    line-height: 1.75em;
    column-gap: 96px;
    flex-direction: row;
}
.fotter-main-div-4 {
    display: grid;
    row-gap: 20px;
    align-items: center;
    grid-template-rows: repeat(3, minmax(0, 1fr));
    width: 115.250px;
    height: 124px;
}
.footer-main-divtag-a {
    font-size: 18px;
    color: #1c1c1f;
    font-weight: 400;
    text-decoration: none;
    width: 97.250px;
    height: 28px;
    font-family: "Nunito Sans", sans-serif;
}

.fotter-main-div-5 {
    display: grid;
    row-gap: 20px;
    align-items: center;
    grid-template-rows: repeat(3, minmax(0, 1fr));
    width: 133.531px;
    height: 124px;
}
.fotter-main-div-6 {
    display: grid;
    row-gap: 20px;
    align-items: center;
    grid-template-rows: repeat(3, minmax(0, 1fr));
    width: 133.531px;
    height: 124px;
}
.footer-main-divtag-a1 {
    font-size: 18px;
    color: #1c1c1f;
    font-weight: 400;
    text-decoration: none;
    width: 137.531px;
    height: 28px;
    font-family: "Nunito Sans", sans-serif;
}
.footer-main-divtag-a2 {
    font-size: 18px;
    color: #1c1c1f;
    font-weight: 400;
    text-decoration: none;
    width: 161.812px;
    height: 28px;
    font-family: "Nunito Sans", sans-serif;
}
.footer-main-div-main1 {
    row-gap: 16px;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
}
.footer-main-div-main1-p-tag {
    color: #1c1c1f;
    font-weight: 600;
    font-size: 20px;
    align-items: start;
    font-family: "Nunito Sans", sans-serif;
}
.footer-main-div-main2 {
    display: flex;
    column-gap: 12px;
    align-items: flex-start;
    display: flex;
}
.footer-svg-main1 {
    width:167.516px;
    height: 56px;
}
.footer-main-2-main-2 {
    display: flex;
    width: 1216px;
    height: 42px;
    padding-top: 48px;
    border-top: 1px solid #d1d0d6;
    justify-content: space-between;
}
.footer-main-2-main-3 {
    width: 427.484px;
    height: 42px;
    display: flex;
    column-gap: 32px;
    align-items: center;
    flex-direction: row;
}
.footer-main-2-main-4 {
    width: 232px;
    height: 42px;

}
#Language-main-footer {
    width: 232px;
    height: 42px;
    background-color: #fafafc;
    border: none;
    cursor: pointer;
}
.language-icon-main {
    width: 24px;
    height: 24px;
    display: flex;
    padding: 7px 0;
    margin-left: 12px;
}
.englishis-footer-main-text {
    display: flex;
    width: 150px;
    height: 24px;
    font-size: 16px;
    position: absolute;
    margin: -27px 0;
    margin-left: 44px;
        font-family: "Nunito Sans", sans-serif;
}
.drop-down83747 {
    width: 24px;
    height: 24px;
}
.drop-down83746 {
    width: 24px;
    height: 24px;
    margin-left: 80px;
    margin-top: -30px;
    margin-bottom: -30px;
    position: absolute;
}
.right-footer-main2 {
    line-height: 1.75rem;
    font-size: 18px;
    color: #85848a;
}
.main-logos-for-youtube-div {
    column-gap: 32px;
    flex-direction: row;
    display: flex;
}
.main-logos-for-youtube1 {
    width: 32px;
    height: 32px;
}